.spotifyLogo {
    display: block;
    width: 200px;
    margin: 0 auto;
}

.time-input .timer-input {
    text-align: center;
    padding: 15px;
    display: inline-block;
    font-size: 15px;
    border: 0px solid grey;
    outline: none;
    background: black;
    color: white;
    transition: all 0.25s;
    font-family: 'Open Sans';
    font-weight: 300;
}
