body {
    /* Reset default margin */
    margin: 0;
    /* Hide overflow/scroll bars */
    overflow: hidden;
    /* Reset default padding */
    padding: 0;
    /* Do not allow to select anything */
    user-select: none;
    /* Set the mouse cursor to default everywhere */
    cursor: default;
}

#settings,
#main-container,
#about,
#time-inputs input,
#timer-buttons input {
    /* Font color */
    color: white;
    /* Specify a Windows 10 like font */
    font-family: Open sans, sans-serif;
}

#settings,
#about_container {
    margin: 1rem auto;
    padding: 25px;
    max-width: 800px;
    line-height: 1.5;
}

#settings,
#about {
    display: none;
}

#timer-buttons input,
#about_container button,
#spotify-logo,
.settings-entry label::before {
    /* Show on this objects the pointer cursor to signal something can be clicked */
    cursor: pointer;
}

#time-inputs,
#timer-buttons {
    /* Needed for displaying the buttons with the same width and next to each other */
    display: grid;
    /* All buttons in these divs share the same width */
    grid-auto-columns: 1fr;
    /* Add space between the buttons */
    grid-gap: 10px;
    /* No margin, but center vertically */
    margin: 0px auto;
    /* Add padding around the button divs */
    padding: 10px;
}

#time-inputs {
    /* Order of the inputs */
    grid-template-areas: "input-days input-hours input-minutes input-seconds";
    /* Maximum width so that it's not to wide on widescreens */
    max-width: 650px;
}

#timer-buttons {
    /* Order of the buttons */
    grid-template-areas: "button-pause-resume button-start-stop button-clear";
    /* Maximum width so that it's not to wide on widescreens */
    max-width: 575px;
}

#time-inputs input,
#timer-buttons input {
    /* Button/input font size */
    font-size: 25px;
    /* BUtton/input font weight */
    font-weight: 300;
    outline: none;
    padding: 15px;
    text-align: center;
    transition: border 0.25s ease-in-out, background 0.25s ease-in-out;
}

#time-inputs input {
    border: 0px solid;
    background: black;
}

#timer-buttons input {
    background-color: rgba(250, 250, 250, 0.4);
    border: 1px transparent solid;
}

#time-inputs input:hover,
#time-inputs input:active,
#time-inputs input:focus {
    background: rgb(41, 41, 41);
}

#timer-buttons input:hover,
#timer-buttons input:focus {
    background-color: rgba(250, 250, 250, 0.6);
    border: 1px white solid;
}

#spotify-logo {
    width: 150px;
    padding: 20px;
    border-radius: 10px;
    grid-area: spotify-logo;
    transition: background-color 0.1s;
}

#spotify-logo:hover,
#spotify-logo:focus {
    background-color: rgba(250, 250, 250, 0.6);
}

#main-container {
    position: absolute;
    top: 32px;
    width: 100vw;
    margin-top: 20px;
    margin-bottom: 20px;
}

#spotify-indicator {
    display: grid;
    grid-template-areas: "1fr spotify-logo";
}

#button_pause_resume {
    grid-area: button-pause-resume;
}

#button_start_stop {
    grid-area: button-start-stop;
}

#button_clear {
    grid-area: button-clear;
}

#timer_d {
    grid-area: input-days;
}

#timer_h {
    grid-area: input-hours;
}

#timer_m {
    grid-area: input-minutes;
}

#timer_s {
    grid-area: input-seconds;
}

#about {
    /* Do not display this div at the beginning */
    display: none;
    height: 100vh;
    line-height: 1.5;
    max-height: calc(100vh - 32px);
    overflow-y: auto;
    padding-bottom: 25px;
    position: absolute;
    top: 32px;
    width: 100vw;
}

#about_container ul {
    margin-top: -10px;
}

#about_container button {
    background-color: rgba(250, 250, 250, 0.4);
    border: 1px transparent solid;
    mix-blend-mode: screen;
    color: white;
}

#about_container button:hover,
#about_container button:focus {
    background-color: rgba(250, 250, 250, 0.6);
    border: 1px white solid;
}

#about_container button.big-button {
    padding: 15px;
    font-size: 20px;
    max-width: 400px;
    margin-top: 10px;
}

#about_container h2 {
    margin-top: 0;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 300;
}

.newVersion {
    display: none;
    margin-left: 10px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #b52d8e/*rgba(0, 0, 0, 0.14)*/
    ;
}
