* {
    box-sizing: border-box;
}

body {
    background: #c9329e;
    margin: 0;
    user-select: none;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover,
a:active {
    color: blue;
    text-decoration: underline;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

[role="button"] {
    cursor: pointer;
}

input {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    border: none;
    color: white;
    letter-spacing: 0.05rem;
}

input:focus {
    outline: 0;
}

::-webkit-input-placeholder {
    color: white;
}

:-moz-placeholder {
    color: white;
}

::-moz-placeholder {
    color: white;
}

:-ms-input-placeholder {
    color: white;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

.timer-container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.timer-input {
    width: 100%;
    padding: 25px;
    background: rgba(255, 255, 255, 0.25);
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 40px;
}

@media (min-width: 992px) {
    .timer-input {
        font-size: 20px;
    }
}

.timer-input:active,
.timer-input:focus {
    background: rgba(255, 255, 255, 0.3);
}

.timer-controls {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.timer-button {
    background: rgba(0, 0, 0, 0.1);
    width: 30%;
    padding: 15px;
    font-size: 12px;
}

@media (min-width: 992px) {
    .timer-button {
        font-size: 14px;
    }
}

.timer-button:hover:not(.button-deactivated) {
    background: rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.timer-start {
    background: #6400d8;
}

.timer-start:hover {
    background: #4c00a5;
}

.timer-display {
    display: block;
    line-height: 1;
    margin: 0 auto;
    margin-top: 30px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100px;
    text-align: center;
    color: rgba(0, 0, 0, 0.15);
}

@media (min-width: 992px) {
    .timer-display {
        font-size: 140px;
    }
}

.state-setting {
    position: fixed;
    bottom: -185px;
    left: 50%;
    transform: translateX(-50%) rotate(-180deg);
    transition: transform 1s;
    width: 300px;
}

@media (min-width: 768px) {
    .state-setting {
        width: 500px;
        bottom: -310px;
    }
}

@media (min-width: 992px) {
    .state-setting {
        width: 700px;
        bottom: -435px;
    }
}

.state-floor {
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
    background: #a1287f;
}

.state-rotate {
    transform: translateX(-50%) rotate(0deg);
}

.button-deactivated {
    background: gray;
}

/* NEW */

#main-container,
#settings,
#about {
    transition: transform .2s ease-in-out;
}

#main-container {
    position: absolute;
    top: 32px;
    width: 100vw;
    padding: 20px;
}

body {
    overflow-x: hidden;
    margin: 0;
    user-select: none;
}

#spotify-indicator {
    display: grid;
    grid-template-areas: "1fr spotify-logo";
    margin-bottom: 20px;
}

#spotify-logo {
    width: 150px;
    grid-area: spotify-logo;
}

#time-inputs {
    display: grid;
    grid-template-areas: "input-days input-hours input-minutes input-seconds";
    grid-gap: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 20px;
    padding: 15px;
}

#timer-buttons {
    display: grid;
    grid-template-areas: "button-pause-resume button-start-stop button-clear";
    grid-gap: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    grid-auto-columns: 1fr;
}

#timer-buttons input {
    background-color: rgba(250, 250, 250, 0.4);
    border: 1px transparent solid;
    mix-blend-mode: screen;
    padding: 15px;
}

#timer-buttons input:hover {
    background-color: rgba(250, 250, 250, 0.6);
    border: 1px white solid;
}

#button_pause_resume {
    grid-area: button-pause-resume;
}

#button_start_stop {
    grid-area: button-start-stop;
}

#button_clear {
    grid-area: button-clear;
}

#timer_d {
    grid-area: input-days;
}

#timer_d:before {
    content: 'DD'
}

#timer_h {
    grid-area: input-hours;
}

#timer_h:before {
    content: 'HH'
}

#timer_m {
    grid-area: input-minutes;
}

#timer_s {
    grid-area: input-seconds;
}

#about {
    font-family: Open sans, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    display: none;
    position: absolute;
    width: 100vw;
    top: 32px;
    height: 100vh;
    max-height: calc(100vh - 32px);
    overflow-y: auto;
}

#about_container {
    max-width: 800px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

#about_container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 300;
    font-family: Open sans, sans-serif;
    line-height: 1.5;
    color: white;
}

#logo {
    width: 128px;
    float: right;
    margin-right: 20px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.14);
}
